

/* This file contains the css for the regions and annotations */

.wavesurfer-region {
  height: 120px !important;
  opacity: .4;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.wavesurfer-region:hover {
  box-shadow: 0px 0px 10px #000;
  /* border: 1px solid #888; */
  opacity: .55;
}

/* Temporary styling for a selected region */
.waveform-selected {
  border: 1px solid #000;
}

/* The actual annotation box container */
#annotation {
  position: relative;
  left: 0px;
  width: 300px;
  height: auto;
  box-shadow: 3px 3px 5px 1px #c1c1c1;
  font-size: 14px;
  background-color: #EEE;
}

p.text-info{
  word-break: normal;
}

/* The form portion */
#annotationSubmitForm {
  opacity: 0;
  transition: opacity 300ms linear;
}

/* The container for an individual comment response (contains user photo, username, and text) */
.annotationContainer {
  border: 1px solid #F0F0F0;
  background-color: #FFF;

}

.annotationUserImageContainer {
  display: inline;
}

.annotationUserImage {
  margin: 10px;
}

.annotationUserName {
  display: inline-block;
  margin: -5px;
  height: 2px;
}

/* The text of an individual reply */
.annotationText {
  color: #000;
  margin: 0 10 10 10;
}

/* Buttons Styling */
.butts{
  margin: -9 0 5 5;

}

/* input box */
#note{
  width: 96.5%;
  margin: -5 5 0 5;
}