

/* This file contains the css for the regions and annotations */

.wavesurfer-region {
  height: 120px !important;
  opacity: .4;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.wavesurfer-region:hover {
  box-shadow: 0px 0px 10px #000;
  /* border: 1px solid #888; */
  opacity: .55;
}

/* Temporary styling for a selected region */
.waveform-selected {
  border: 1px solid #000;
}

/* The actual annotation box container */
#annotation {
  position: relative;
  left: 0px;
  width: 275px;
  height: auto;
  /* border-style: solid; */
  /*border-color: rgba(20, 180, 120, 0); */
  /* border-radius: 10px; */
  font-size: 14px;
  background-color: #EEE;
  /* overflow: scroll; */
  box-shadow: 3px 3px 5px 1px #c1c1c1;
  border: 1px solid #CCC;
  padding: 0px;
}


#annotationTitleContainer {
  font-size: 12px;
  font-weight: 400;
  background-color: #444;
  color: white;
}

#annotationCommentsContainer {
  overflow-y: auto;
  max-height: 350px;
}

#annotationHideButton {
  display: inline-block;
  font-size: 14px;
  width: 20px;
  text-align: center;
  /* border: 1px solid #888; */
  color: #888;
  cursor: pointer;
}
#annotationHideButton:hover {
  color: #FFF;
}

#annotationTitle{
  padding: 5px;
  display: inline-block;
}

#note{
  height: 4em;
  width: calc(100% - 8px);
  margin: 4px;
}

#deleteRegion {
  float: right;
  padding: 5px;
  color: #888;
  cursor: pointer;
  font-size: 12px;
}
#deleteRegion:hover{
  color: #FF6666;
}

/* The form portion */
#annotationSubmitForm {
  opacity: 0;
  transition: opacity 300ms linear;
}

/* The container for an individual comment response (contains user photo, username, and text) */
.annotationContainer {
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
}

.annotationUserImageContainer {
  display: inline;
}

.annotationUserImage {
}

.annotationUserName {
  font-weight: bold;
  display: inline;
}

.annotationDelete {
  float: right;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}
.annotationDelete:hover {
  color: #000;
  font-weight: bold;
}

.annotationTimeStamp {
  color: #666;
  font-size: 12px;
  float: right;
  padding: 5px;
}

/* The text of an individual reply */
.annotationText {
  color: #000;
  padding: 5px;
  font-size: 14px;
}

/* Buttons Styling */
.butts{
  margin: 5px;
}

#commentHelperText {
  font-size: 12px;
  padding: 5px;
  color: #666;
}