

/* This file contains the css for the regions and annotations */

.wavesurfer-region {
  height: 120px !important;
  opacity: .4;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.wavesurfer-region:hover {
  box-shadow: 0px 0px 10px #000;
  /* border: 1px solid #888; */
  opacity: .55;
}

/* Temporary styling for a selected region */
.waveform-selected {
  border: 1px solid #000;
}

#annotation {
  position: relative;
  left: 0px;
  width: 200px;
  height: auto;
  border-style: solid;
  border-color: rgba(20, 180, 120, 0);
  border-radius: 10px;
}

p.text-info{

  font-size: 12px;
  padding-left: 5px;
  word-break: break-all;
}
