
/* This file contains the css for the main section of the app */


body {
  background: #eee;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/* The main area of the page. 
Using padding to offset the weirdness caused by a fixed navbar and sidebar */
#main {
    text-align: left;
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;

    height: 100%;

    padding-top: 75px;
    padding-bottom: 20px;
    padding-left: 285px;
    padding-right: 20px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}


/* This is the container div for the recording name and folder name. 
Setting the margin is a temporary solution (should probably set formatting of the play button div better) */
#displayRecordingInfo {
  margin-left: 125px;
}

/* The title of the current song */
#displayRecordingName {
    margin-bottom: 0px;
}

/* The name of the folder that the current song is in */
#displayRecordingFolderName {
    color: #888888;
    font-size: 14px;
}

#displayRecordingLength {
    color: #888888;
    font-size: 14px;
    margin-bottom: 15px;   
}


/* This is the "highlight a section to comment" helper text */
#helpText {
    color: #888888;
    font-size: 14px;
    float: right;
    padding-right: 15px;
}

.waveformContainer {
    margin: 0px;
    width: 100%;
}

#waveform {
  cursor: pointer;
}

.wavesurfer-handle {
    width: 5px !important;
}



/*
 * Upload file button
  From http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button
 */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



